---
title: Le Wagon - Middleman - Team
---

<div id="about">
  <div class="about-content">
    <h1>There is my super team of the day !</h1>
    <ul class="list-inline">
      <% data.team.each do |member| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{member.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{member.github_nickname}", class: "img-circle" %>
          <% end %>
          <h2><%= member.name %></h2>
          <p>
            <% link_to "https://github.com/#{member.github_nickname}", target: "_blank" do %>
              <i class="fa fa-github"></i> <%= member.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
